h1{text-align: center;}
body{
	padding-top: 50px; 
	padding-bottom: 50px;
}
.carousel {
	height: 500px;
	background-color: #000;
	margin-bottom: 60px;
} 
.carousel .item{
	height: 480px;
	background-color: #000;
}

.carousel-caption{
	margin-bottom: 100px;
	font-size: 20px;
	line-height: 1.8;
}
#sum-container-fluid{
	text-align: center;
	width: 100%;
}
.divide{
	margin:40px 0; 
}
.pic1{width: 100%;}
.tupian1{
	width: 50%;
}
.feature{
	padding: 30px 0;
}
.feature_head{
	margin-top: 150px;
	font-size: 50px;
	color:blue;
}
.feature_head1{
	color: gray;
	font-size: 25px;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/fonts/glyphicons-halflings-regular.eot');
  src: url('/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('/assets/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/